* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background:#DCE9C4;
    text-align: center;
    color: #2F3E28;
    height: 150px;
    line-height: 0.8;
    padding: 20px;
}

.introduction {
    padding: 5px 10px;
}

.introduction a {
    font-size: 12px;
    font-style: italic;
}

#skills {
    background: #9DB17C;
    padding: 5px 10px;
    margin-right: 50%;
    position: fixed;
    text-align: justify;
    line-height: 1.5;
}

#skills h3 {
    color: white;
    font-size: 20px;
}

#skills h4 {
    text-transform: uppercase;
}

#backend {
    text-align: center;
    display: inline-block;
    border: solid white;
    background: #DCE9C4;
    border-radius: 15px;
    height: 100px;
    position: relative;
    width: 75%;
    padding: 5px 10px;
    margin-right: 50%;
}

#frontend {
    text-align: center;
    display: inline-block;
    border: solid white;
    background: #C1D897;
    border-radius: 15px;
    height: 100px;
    position: relative;
    width: 75%;
    padding: 5px 10px;
    margin-right: 50%;
    margin-top: 5%;
}

#misc {
    text-align: center;
    display: inline-block;
    border: solid white;
    background: #B0CD7A;
    border-radius: 15px;
    height: 150px;
    position: relative;
    width: 75%;
    padding: 5px 10px;
    margin-right: 50%;
    margin-top: 5%;
}

#softskills {
    text-align: center;
    display: inline-block;
    border: solid white;
    background: #9EC15C;
    border-radius: 15px;
    height: 125px;
    position: relative;
    width: 75%;
    padding: 5px 10px;
    margin-right: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}